# Configurações do Banco de Dados
DB_HOST=seu_host_banco_de_dados
DB_NAME=nome_do_banco
DB_USER=usuario_do_banco
DB_PASS=senha_do_banco

# Configurações do Asaas (Gateway de Pagamento)
ASAAS_API_KEY=sua_chave_api_aasaas_aqui

# Configurações do WhatsApp
WHATSAPP_NUMBER=5511999999999

# Configurações do Ambiente
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000
